.skills{
    background-color: #262335 ;
    font-family: 'Raleway' , sans-serif ;
    width: 100%;
    box-sizing: border-box;
    padding: 1rem 1rem;
    
}
.skills li{
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 1024px) {
    .skills{
        padding: 1rem 1rem;

    }
    
    
}