.warning_1{
   
    
    color: #59E881 ;
    
}
.warning_2{
    
    
    
    color: #59E881 ;
   
}
.warning_3{
   
    
    color: #59E881 ;
    
}
.warning_4{
    
    
    color: #59E881 ;
    
}
.warning_5{
    
    
    color: #59E881 ;
    
}